<div class="container border p-4">
    <div class="row text-center">
        <h1>Login</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 pb-2">
            <label for="Username" class="form-label">Username</label>
            <input id="Username" type="text" class="form-control" placeholder="Username..." />
            <span id="UsernameValidation" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-6 offset-md-3 pb-2">
            <label for="Password" class="form-label">Password</label>
            <input id="Password" type="password" class="form-control" placeholder="Password..." />
            <span id="PasswordValidation" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-6 offset-md-3 pb-2">
            <button type="button" id="loginButton" class="form-control btn btn-success">Login</button>
        </div>
    </div>
</div>

<div id="loginMessage" class="text-center mt-3"></div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#loginButton').click(function () {
                // Form verilerini toplama
                var loginData = {
                    Username: $('#Username').val(),
                    Password: $('#Password').val()
                };

                // AJAX isteği gönderme
                $.ajax({
                    url: '@Url.Action("Login", "Auth")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(loginData),
                    success: function (response) {
                        // Token'ı localStorage'a kaydet
                        localStorage.setItem("token", response.data.token);

                        $('#loginMessage').html('<div class="alert alert-success">Login successful! Redirecting...</div>');
                        setTimeout(function () {
                            window.location.href = '/Home/Index'; // Giriş sonrası yönlendirme
                        }, 2000);
                    },
                    error: function (xhr, status, error) {
                        $('#loginMessage').html('<div class="alert alert-danger">Invalid username or password.</div>');
                    }
                });
            });

            // Global olarak tüm AJAX isteklerine Authorization header'ı ekle
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    var token = localStorage.getItem("token");
                    if (token) {
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    }
                }
            });
        });


    </script>
}
