/* Kartların tasarımı */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-icon {
    font-size: 3rem;
    color: #007bff;
}

.welcome-text {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

